Задача 40: Работать с файлом california_housing_train.csv, который находится в папке sample_data. Определить среднюю стоимость дома, где кол-во людей от 0 до 500 (population).

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("california_housing_train.csv")
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-114.31,34.19,15.0,5612.0,1283.0,1015.0,472.0,1.4936,66900.0
1,-114.47,34.40,19.0,7650.0,1901.0,1129.0,463.0,1.8200,80100.0
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
3,-114.57,33.64,14.0,1501.0,337.0,515.0,226.0,3.1917,73400.0
4,-114.57,33.57,20.0,1454.0,326.0,624.0,262.0,1.9250,65500.0

In [4]:
data = df[(df['population'] >= 0) & (df['population'] <= 500)]
data.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2,-114.56,33.69,17.0,720.0,174.0,333.0,117.0,1.6509,85700.0
7,-114.59,34.83,41.0,812.0,168.0,375.0,158.0,1.7083,48500.0
17,-114.65,32.79,21.0,44.0,33.0,64.0,27.0,0.8571,25000.0
19,-114.67,33.92,17.0,97.0,24.0,29.0,15.0,1.2656,27500.0
21,-114.73,33.43,24.0,796.0,243.0,227.0,139.0,0.8964,59200.0

In [6]:
mean_data = data['median_house_value'].mean()
print(f'Средняя стоимость дома, где кол-во людей от 0 до 500: ${mean_data:.2f}')

Средняя стоимость дома, где кол-во людей от 0 до 500: $206799.95

Задача 42: Узнать какая максимальная households в зоне минимального значения population.

In [10]:
min_population = df['population'].min()
min_population

3.0

In [13]:
data_population = df[df['population'] == min_population]
data_population

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
8232,-118.44,34.04,16.0,18.0,6.0,3.0,4.0,0.536,350000.0

In [15]:
maximum = data_population['households'].max()
print(f"Максимальное количество households в зоне минимального значения population ({min_population}) = {maximum}")

Максимальное количество households в зоне минимального значения population (3.0) = 4.0